
# copy into .envrc, install `direnv` and enjoy :)
# Note these are MAGICAL ENV vars as described here: https://www.pulumi.com/registry/packages/gcp/service-account/
export GOOGLE_PROJECT="YOUR PROJECT ID"
export GOOGLE_REGION="europe-west1"
export GOOGLE_REGION="europe-west1-b"
#export GOOGLE_CREDENTIALS=$(cat credentials.json)

export GOOGLE_BUCKET="gs://your-pulumi-state-bucket"

# This is used by pulumi to automatically encrypt and decrypt secrets locally. Store this carefully.
export PULUMI_CONFIG_PASSPHRASE='Ch4ngem3D33ply'
